*.[oa]
*~
*.swp
/.deps
arm_simulator
memory_test
Makefile
Makefile.in
/Examples/config.log
/Examples/config.status
/confdefs.h
/config.h
/config.log
/config.status
/send_irq
/stamp-h1
/Examples/.deps/
/Examples/autom4te.cache/
/Examples/config.h
/Examples/example1
/Examples/example2
/Examples/example3
/Examples/example4
/Examples/exampleMRS
/Examples/exampleMSR
/Examples/exampleLDR
/Examples/insertion_sort
/Examples/exampleSTR
/Examples/exampleSTRB
/Examples/exampleSTRH
/Examples/exampleLDM_STM
/Examples/exampleLDRSH_LDRSB_LDRD_STRD
/Examples/exampleTST_TEQ_CMP_CMN
/Examples/examplesLDR
/Examples/exampleLDRB
/Examples/exampleLDRH
/Examples/exampleB_BL
/Examples/exampleMOV_MVN
/Examples/example_operations
/Examples/example_operations_bin
/Examples/exampleADC
/Examples/stamp-h1
/Examples/exampleUndefined_Instruction
/Examples/exampleIrq
/Examples/exampleHandler
/Examples/presentation
/autom4te.cache/
/arm_simulator
